$primary: #0828fe;
$primary-hover: #0520d2;

$secondary: #409fff;

$white: #fff;
$black: #000;

$light: #efefef;
$dark: #242424;

$gray: #7b7b7b;
$gray-hover: #a3a3a3;
$gray-light: #ececec;

$purple: #3b48a1;
$purple-hover: #1f275c;
$red: red;
$tomato: tomato;
$green: green;
$green-hover: rgb(1, 84, 1);
$orange: orange;
$orange-hover: rgb(181, 117, 0);
